@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-stroke {
        -webkit-text-stroke: 0px #de8dff;
        color: transparent;
        will-change: auto;
    }
}

:root {
    --navHeight: 73px;
    --pageHeadingBottom: 150px;
    --blur: 100px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input::placeholder {
    font-size: 0.95em;
    color: inherit;
    opacity: 0.9;
}


a,
Link {
    user-select: none;
}



body,
html {
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    font-family: "Anta", sans-serif;
    font-style: normal;
    transition: background-color 0.1s linear;
}

.ar-one-sans {
    font-family: "AR One Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "ARRR" 10;
}

.linear-btn {
    background: hsla(43, 84%, 85%, 1);

    background: linear-gradient(270deg, hsla(43, 84%, 85%, 1) 0%, hsla(325, 71%, 70%, 1) 30%, hsla(236, 67%, 55%, 1) 100%);

    background: -moz-linear-gradient(270deg, hsla(43, 84%, 85%, 1) 0%, hsla(325, 71%, 70%, 1) 30%, hsla(236, 67%, 55%, 1) 100%);

    background: -webkit-linear-gradient(270deg, hsla(43, 84%, 85%, 1) 0%, hsla(325, 71%, 70%, 1) 30%, hsla(236, 67%, 55%, 1) 100%);
    transition: all 0.3s linear;
}

.ball {
    background: hsla(43, 84%, 85%, 1);

    background: linear-gradient(90deg, hsla(43, 84%, 85%, 1) 0%, hsla(325, 71%, 70%, 1) 50%, hsla(236, 67%, 55%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(43, 84%, 85%, 1) 0%, hsla(325, 71%, 70%, 1) 50%, hsla(236, 67%, 55%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(43, 84%, 85%, 1) 0%, hsla(325, 71%, 70%, 1) 50%, hsla(236, 67%, 55%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F9E7BB", endColorstr="#E97CBB", GradientType=1);
}

.ball:nth-of-type(2) {
    background: hsla(64, 41%, 92%, 1);
    /* linear-gradient(90deg, hsl(258.79deg 100% 76.33%) 0%, hsl(175.71deg 100% 83.19%) 50%, hsla(305, 75%, 83%, 1) 100%) */
    background: linear-gradient(90deg, hsl(258.79deg 100% 76.33%) 0%, hsl(175.71deg 100% 83.19%) 50%, hsla(305, 75%, 83%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsl(258.79deg 100% 76.33%) 0%, hsl(175.71deg 100% 83.19%) 50%, hsla(305, 75%, 83%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsl(258.79deg 100% 76.33%) 0%, hsl(175.71deg 100% 83.19%) 50%, hsla(305, 75%, 83%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F2F3E2", endColorstr="#B2E5F8", GradientType=1);
}

.svgbtn:hover svg {
    animation: rotate 0.4s linear;
}

.svgbtn:active svg {
    transition: all 0.1s ease;
    scale: 0;
}

@keyframes rotate {
    33% {
        rotate: -40deg;
    }

    66% {
        rotate: 40deg;
    }

    100% {
        rotate: 0deg;
    }
}

.orderbtn:hover svg {
    animation: order 1s linear;
    transform-origin: left;
}

.orderbtn:active svg {
    rotate: -25deg;
    transform-origin: left;
}

@keyframes order {
    0% {
        transform: translate(2px, 0px) rotate(-10deg);
    }

    30% {
        transform: translate(5px, 0px);
    }

    80% {
        transform: translate(10px, 0px);
    }

    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}

input.acco:checked~.check-content {
    padding-block: 0px;
    max-height: 0rem;
}

input.acco~.check-content {
    transition: 0.35s linear;
    padding-block: 7px;
    max-height: 50rem;
    border-radius: 0.125rem;
}

input.acco+label:hover {
    background-color: #80808024;
    transition: all 0.35s;
}

input.acco~.check-content:hover {
    background-color: #80808024;
}

input.acco+.detail::after {
    transform: rotate(270deg);
}

input.acco:checked+.detail::after {
    transform: rotate(90deg);
}

.detail::after {
    content: "\276F";
    width: 1em;
    align-self: baseline;
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
}

.outLine {
    outline: 0px solid;
    outline-offset: 0px;
}

.outLine:hover {
    animation: outline-hover 0.8s ease;
}

:is(.outLine, .filterBtn):active {
    transition: all 0.2s ease;
    outline-offset: 7px;
    outline-width: 1px;
    outline-color: transparent;
}


@keyframes outline-hover {
    0% {
        outline-width: 1px;
    }

    100% {
        outline-offset: 7px;
        outline-color: transparent;
    }
}

@keyframes outlineinput {
    0% {
        outline-width: 1px;
    }

    100% {
        outline-offset: 7px;
        outline-color: transparent;
    }
}

.outLineInput {
    animation: outlineinput 0.2s ease;
}


.gallery {
    scroll-behavior: smooth;
}


.filterBtn {
    outline: solid 0px;
    background-image: linear-gradient(145deg, rgb(197 148 209), rgb(0 0 0));
    color: white;
    font-size: .97rem;
    line-height: 0;
}

.filterBtn.activeFilter {
    outline: #A3E636 solid 2px;
}

.filterBtn:hover {
    animation: outlinefil 0.5s ease;
}

@keyframes outlinefil {
    0% {
        outline-width: 1px;
        outline-color: #A3E636;
    }

    100% {
        outline-offset: 7px;
        outline-color: transparent;
    }
}

.menuPage,
.gallery {
    user-select: none;
}

.cartItemWrapper>.flex::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    /* display: none; */
}

.dark .cartItemWrapper>.flex::before {
    background: linear-gradient(151deg, #000000 33%, rgb(95 63 96) 66%, #000000 79%);
}

.cartItemWrapper>.flex::before {
    background: linear-gradient(151deg, #ffffff 33%, rgb(215 178 217) 66%, #ffffff 79%);
}

.search-div {
    top: var(--navHeight);
}

@media (max-width:640px) {
    .infi {
        mask: linear-gradient(90deg, transparent 0%, white, white, white, transparent 100%);
    }
}


@media (max-width:500px) {

    body,
    html {
        font-size: 15px;
    }
}

@media (max-width:350px) {

    body,
    html {
        font-size: 14px;
    }
}

@media (max-width:320px) {
    .nav-logo {
        width: 10.575em;
    }
}

@media (max-width:300px) {

    body,
    html {
        font-size: 13px;
    }
}

@media (max-width:280px) {
    .nav-logo {
        width: 9em;
    }
}

@media (min-width:1450px) {

    body,
    html {
        font-size: 17px;
    }
}


@media (min-width:1600px) {

    body,
    html {
        font-size: 18px;
    }
}

@media (min-width:1750px) {

    main,
    footer {
        max-width: clamp(1550px, 90vw, 1700px);
    }
}

@media (min-width:1900px) {

    html,
    body {
        font-size: 21.8px;
    }

    main,
    footer {
        max-width: clamp(1700px, 90vw, 1850px);
    }
}

@media (min-width:2156px) {

    html,
    body {
        font-size: 23.8px;
    }

    main,
    footer {
        max-width: clamp(1850px, 90vw, 2000px);
    }
}

/* .flex.relative.p-\[1\.25rem\].flex-nowrap.overflow-x-auto.gap-\[0\.625rem\]{
    cursor: grabbing;
}
.flex.relative.p-\[1\.25rem\].flex-nowrap.overflow-x-auto.gap-\[0\.625rem\]::-webkit-scrollbar{
    display: none;
} */